.day-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-style: solid;
    border-width: 1px;
    margin: 0px 10px 0px 10px;
    width: 450px;
    justify-content: center;
    align-items: center;
    align-content: center;
    user-select: none;
    background-color: #607196;
}

.day-container .days {
    cursor: pointer;
    color: #E8E9ED;

}



.day-container .days:hover{
    background-color: #BABFD1;
    color: black;
}

.day-container .days:active{
    background-color: #FF7B9C;
    color: white;
}


.day-container .days-last-next-month {
    cursor: pointer;
    color: rgba(229, 228, 226, 0.446);
}

.day-container .days-last-next-month:hover{
    background-color: #BABFD1;
    color: black;
}

.day-container .days-last-next-month:active{
    background-color: #FF7B9C;
    color: white;
}


.day-container .selected {
    background-color: #FF7B9C;
    color: white;
}

